.comments__count {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0;
}

.underbar {
  border-bottom: 2px solid #525eaa;
}

.comments__write-box {
  border-top: 2px solid #525eaa;
  border-bottom: 2px solid #525eaa;
  background-color: #fafafa;
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.write-box__column {
  display: flex;
  flex-direction: column;
}

.comments__write-box .write-box__column:nth-child(1) {
  flex-grow: 0;
  justify-content: flex-start;
}

.comments__write-box .write-box__column:nth-child(2) {
  flex-grow: 1;
}

.input__author,
.input__password {
  width: 140px;
  height: 30px;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 0px 7px;
}

.input__content {
  height: 100px;
  margin-bottom: 10px;
  padding: 12px;
}

.input__content__bottom {
  display: flex;
  justify-content: flex-end;
}
