.comments__count {
  font-size: 13px;
  font-weight: bold;
}

.comments__write-box {
  border-top: 2px solid #525eaa;
  border-bottom: 2px solid #525eaa;
  background-color: #fafafa;
  width: 100%;
  height: 170px;
  display: flex;
}

.write-box__column {
  display: flex;
  flex-direction: column;
}

.input__author,
.input__password {
  width: 140px;
  height: 30px;
}

.input__content {
  width: 500px;
  height: 100px;
}
