.view__title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 6px;
}

.view__author,
.view__time {
  font-size: 13px;
}

.view__time {
  margin-left: 10px;
}

.view__underbar {
  border-bottom: 1px solid #eeeeee;
  margin-top: 12px;
}

.view__content {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 13px;
}

.view__button-box {
  display: flex;
  justify-content: flex-end;
}
