.board {
  width: 100%;
  font-size: 13px;
  color: #333333;
}

.board__head,
.board__data {
  text-align: center;
  vertical-align: middle;
}

.board__head {
  border-top: 3px solid #3c4790;
  border-bottom: 1px solid #3c4790;
  font-weight: bold;
  font-size: 12px;
  height: 34px;
}

.board__data {
  height: 28px;
}

.list__title {
  text-align: left;
}

.lists__buttons {
  padding-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.lists__paging {
  padding-top: 18px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
}

.lists__search {
  padding-top: 18px;
  display: flex;
  justify-content: center;
}
