.button {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-radius: 2px;
  width: 82px;
  height: 35px;
  line-height: 33px;
}

.button--blue {
  background: #4a57a8;
  border-color: #3c4790;
  text-shadow: 0px -1px #343d8e;
  color: #fff;
}

.button--grey {
  background: #666;
  border-color: #444;
  text-shadow: 0px -1px #474747;
  color: #fff;
}
