@import "./reset.css";

* {
  box-sizing: border-box;
}

a {
  color: #333333;
  text-decoration: none;
}

textarea {
  resize: none;
}

.input {
  font-size: 12px;
}

.app-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}
